<div class="container mt-4">
  <h2 class="text-center">Customer Dashboard</h2>
  <hr />

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="products-tab" routerLink="/customer/products" routerLinkActive="active" role="tab" aria-controls="products" aria-selected="true">Product Store</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="orders-tab" routerLink="/customer/orders" routerLinkActive="active" role="tab" aria-controls="orders" aria-selected="false">Past Orders</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" routerLink="/customer/profile" routerLinkActive="active" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="cart-tab" routerLink="/customer/cart" routerLinkActive="active" role="tab" aria-controls="cart" aria-selected="false">Shopping Cart</a>
    </li>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <router-outlet></router-outlet>
  </div>
</div>


