<div class="container mt-4">
    <h2 class="text-center">All Orders</h2>
    <hr />
    <div class="mt-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product ID(s)</th>
            <th>Quantity(s)</th>
            <th>Order Date</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.productId }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ formatOrderDate(order.orderDate) }}</td>
            <td>{{ order.totalPrice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  