<div>
    <h2>Account Create</h2>
    <span style="color:red">{{msg}}</span>
    <form #loginForm="ngForm" (ngSubmit)="signup(loginForm)"> <!--Binds the form’s submit event to the signup() method -->
        <label>Email</label><br/>
        <input type="email" name="emailid" ngModel/><br/> <!-- binds the data to the form model -->
        <label>Password</label><br/>
        <input type="password" name="password" ngModel/><br/>
        <label>Name</label><br/>
        <input type="name" name="name" ngModel/><br/>
        <label>Phone Number</label><br/>
        <input type="phone" name="phone" ngModel/><br/>
        <br>
        <input type="radio" name="typeofuser" value="admin" ngModel/>Admin
        <input type="radio" name="typeofuser" value="customer" ngModel/>Customer<br/>
        <input type="submit" value="SignUp!"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    <a routerLink="/login">Login!</a>
</div>